src/index.html
src/styles.css
src/images/CAT-YOGA.avif
src/images/CatY.jpg
src/images/CatYoga.png
src/images/frau-macht-cat-yoga-mit-katze-1024x683-1.jpeg
src/images/GatoY.png
src/images/GatoZen.png
src/images/GatoZen.svg
src/images/GY.png
src/images/image.jpg
src/images/Logo_GatoZen.png
src/images/Logo_Text.svg
src/images/logo-solo.png
src/images/LogoText.png
src/images/plan.png
